/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}


/* NAVBAR */

.nw-navbar {
  background-color: #f72210;
}

.date {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #fff;
}

#Layer_1 {
  enable-background: new 0 0 395.6 60;
}

.nw-logo {
  fill: #fff;
  display: block;
  width: 132px;
  height: 20px;
  margin-bottom: 7px;
}

.right-auth {
  z-index: ;
}

.arrow-right {
  height: 20px;
  width: 14px;

  /* I need to change the color of this svg image */

  /* background-color: #f72210; */
}

.menu-sm {
  width: 48px;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  border-left: 1px solid #eee;
  color: #fff;
  font-size: 25px;
}

.sign-in {
  color: white;
  margin-right: 10px;
}

.subscribe {
  background: #fff;
  color: #f72210;
  padding: 0 5px 0 5px;
}

.p-2 {
  padding: 0 0 0 0;
}

button[data-toggle="collapse"] {
  background-color: white;
}

.topics {
  width: 90%;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  padding: 15px 0 15px;
  margin-bottom: 0;
}

.topics-wrapper::after {
  display: block;
  content: " ";
  width: 100%;
  border-bottom: 2px solid #f4f5f6;
}

.topics li {
  display: inline;
  font-weight: 600;
}

.topics li:hover {
  color: #f72210;
}

.topics li:hover:last-child {
  color: rgba(0, 0, 0, 0.55);
}

.search {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
}

/* NEWS CONTAINER */
img {
  width: 100%;
}

.news-title {
  color: rgba(3, 3, 3, 0.4);
  font-weight: bolder;
  padding-top: 10px;
}

.news-container {
  padding: 0;
  max-width: 95%;
}

.news-card {
  margin: 5px 0 20px 0;
}

.news-caption {
  font-weight: bolder;
  color: #000;
  margin-top: 5px;
}

.news-caption:hover {
  text-decoration: #f72210 underline;
}

.sponsored-content {
  border: 1px solid gray;
  padding: 15px;
}

.sponsored-card {
  margin: 5px 0 20px 0;
}

/* .left {
  padding: 0 5px 0 5px;
} */

/* .middle {

} */

.top-story-title {
  margin-top: 8px;
  font-weight: bolder;
  font-size: 22px;
  color: #000;
}

.top-story-subtitle {
  padding: 8px 0 8px 0;
  font-weight: bolder;
  font-size: 18px;
  color: #000;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.top-story-subtitle:hover { 
  color: #f72210;
}

/* .right {
  padding: 0 5px 0 5px;
} */

.opinion-card {
  display: flex;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.opinion-pic {
  height: 63px;
  width: 63px;
  margin-right: 15px;
}

.opinion-title {
  font-weight: bolder;
  font-size: 16px;
  color: #000;
}

.opinion-title:hover {
  color: #f72210;
  cursor: pointer;
}

.opinion-author {
  font-weight: bold;
  font-size: 14px;
}

.latest-card {
  display: flex;
  padding-bottom: 8px;
  border-bottom: 1px solid gray;
  margin-top: 10px;
}

.latest-card img {
  height: 90px;
  width: 135px;
  padding-right: 10px;
}

.latest-title {
  font-weight: bolder;
  font-size: 15px;
  color: #000;
}

.latest-title:hover {
  color: #f72210;
  cursor: pointer;
}



/* MEDIA QUERIES */

@media (max-width: 755px) and (min-width: 470px) {
  .latest-card img {
    height: 172px;
    width: 258px;
  }
}

@media screen and (max-width: 469px) {
  .right-auth a {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  .nw-logo {
    width: 396px;
    height: 60px;
    margin: 10px 0 10px 0;
  }

  .right-auth {
    margin-bottom: 10px;
  }
}
